////////////////////////// My CSS///////////////

/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

body {
    /*background-image: url(https://abs.twimg.com/images/themes/theme9/bg.gif);*/
    /*background-repeat: no-repeat;*/
    margin: s0%;
    background-color: black;
    font-family: "Helvetica Neue",Arial,sans-serif;
    height:100%;
}


.header {
    background-color: lightgray;
    width:100%;
    height:55px;
    border: 2px solid lightgray;
    padding-left: 10px;

}
.background{
    background-image:url('/images/background.jpeg');
    background-repeat: no-repeat;
    background-size:100%;
    /*background-position: 50% 50%;*/
    width: 1282px;
    height: 625px;
}
.menu {
    background-color: gray;
    width:95%;
    margin-left:2.5%;

    height: 50px;
}
#Container .mix{
    display: none;
    margin-left: 20px;
}
.filter{
    background-color: tan;
    width: 120px;
    height: 40px;
    float: left;
    padding: 10px;
    margin: 4px;
    font-size: 1.2em;
    text-align: center;
    cursor: pointer;
}

.main {
    background-color: white;
    width:95%;
    height:575px;
    margin-left:2.5%;
    overflow: scroll;


}
.dim{
    background-color: rgba(0, 0, 0, 0.7);
    height:108%;
    width: 100%;
    display: none;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 0;

}
.boxExpand{
    height:550px;
    width: 850px;
    background-color: white ;
    display: none;
    border: 4px solid gray;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 14.5%;

}
h1{
    border-bottom: 2px solid gray;
    font-size: 2em;
    padding-left: 2%;
    padding-top: 1%;

}
.description{
    width:45%;
    border-right: 2px solid gray;

    float: left;
    padding-left: 2%;
    padding-top: 1%;

    height: 320px;
}
.close{
    margin-top: 0.1%;
    margin-left: 74.5%;
    position: absolute;
    border-bottom: 2px solid gray;


}

.ipadExpand{
    float: left;
    height:326px;
    width: 444px;
    background-image:url('/images/sample/ipad.jpg');
    background-repeat: no-repeat;
    background-size:90%;
    float: left;
    display: none;
    background-position: 50% 50%;
}
.tradeInfo{
    float: left;
    border-top: 2px solid gray;
    width: 98%;
    padding-left: 2%;
    padding-top: 1%;
}
.selectTitle{
    /*display: inline;*/
    width: 200px;
    float: right;
    margin-right: 40%;
}
.infoTitle{
    /*display: inline;*/
    width: 200px;
    float: right;
    margin-right: 11%;
}
.myItems{
    width: 270px;
    height:130px;
    background-color: green;
    overflow: scroll;
    float: left;
    margin-top: 10px;

}
.response{
    float: left;
    width: 290px;
    height: 120px;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 1em;
    overflow: scroll;
    resize: none;
}
.items{
    float: left;
    width:90px;
    height: 90px;
    background-color: blue;
    margin-left: 12%;
    margin-top: 5%;
}

.mix{
    width: 205px;
    height: 205px;
    margin: 1%;
    border: 3px solid black;


}
#ipad{
    background-image:url('/images/sample/ipad.jpg');
    background-repeat: no-repeat;
    background-size:135%;
    background-position: 50% 50%;
}
#cafeRacer{
    background-image:url('/images/sample/caferacer.jpg');
    background-repeat: no-repeat;
    background-size:150%;
    background-position: 50% 50%;
}
#bike{
    background-image:url('/images/sample/bike.jpg');
    background-repeat: no-repeat;
    background-size:150%;
    background-position: 50% 50%;
}
#laptop{
    background-image:url('/images/sample/laptop.jpg');
    background-repeat: no-repeat;
    background-size:151%;
    background-position: 50% 50%;
}
#dresser{
    background-image:url('/images/sample/dresser.jpg');
    background-repeat: no-repeat;
    background-size:100%;
    background-position: 50% 50%;
}
#backpack{
    background-image:url('/images/sample/backpack.jpg');
    background-repeat: no-repeat;
    background-size:110%;
    background-position: 50% 50%;
}
#bed{
    background-image:url('/images/sample/bed.jpg');
    background-repeat: no-repeat;
    background-size:100%;
    background-position: 50% 50%;
}





////////////////////////// Bootsrtap CSS///////////////
/* Everything but the jumbotron gets side spacing for mobile first views */
/*.header,*/
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
/*.header {*/
  /*border-bottom: 1px solid #e5e5e5;*/
}
/* Make the masthead heading the same height as the navigation */
/*.header h3 {*/
  /*margin-top: 0;*/
  /*margin-bottom: 0;*/
  /*line-height: 40px;*/
  /*padding-bottom: 19px;*/
/*}*/

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  /*.header,*/
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  /*.header {*/
    /*margin-bottom: 30px;*/
  /*}*/
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
