
/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

body {
    /*background-image: url(https://abs.twimg.com/images/themes/theme9/bg.gif);*/
    /*background-repeat: no-repeat;*/
    margin: 0%;
    background-color: black;
    font-family: "Helvetica Neue",Arial,sans-serif;
    height:100%;
}


.header {
    background-color: black;
    width:100%;
    height:55px;
    border-bottom: 1px solid #3c3c3c;
    padding-left: 10px;
}
.title{
    color: darkred;
    font-size: 1.2em;
    padding-top:2% ;
}
.background{
    background-image:url('https://s3-us-west-2.amazonaws.com/tradeitems/background.jpeg');
    background-repeat: no-repeat;
    background-size:100%;
    /*background-position: 50% 50%;*/
    width: 1282px;
    height: 625px;
}
.menu {
    background-color: black;
    border-bottom: 1px solid #3c3c3c;
    width:95%;
    margin-left:2.5%;

    height: 50px;
}
#Container .mix{
    display: none;
    margin: .7%;

}
.resultsBackground{
    background-color: black;
    text-align: center;
}
.filter{
    background-color: #3c3c3c;
    width: 120px;
    height: 40px;
    float: left;
    padding: 10px;
    margin: 4px;
    font-size: 1.2em;
    text-align: center;
    cursor: pointer;
    color: gray;
}
.filter.active{

    color: darkred;
    /*background-color: gray;*/
}

.main {
    background-color: black;
    width:95%;
    height:575px;
    margin-left:2.5%;
    overflow: scroll;


}
.dim{
    background-color: rgba(0, 0, 0, 0.7);
    height:101%;
    width: 100%;
    /*display: none;*/
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 0;

}
.dim.hidden{
    max-height: 0;
}
.boxExpand{
    height:635px;
    width: 950px;
    background-color: white ;
    border: 4px solid gray;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 6%;
}
.boxExpand.hidden{
    max-height: 0;
}
h1{
    border-bottom: 2px solid gray;
    font-size: 2em;
    padding-left: 2%;

}
h4{
    font-size: 1.3em;
    font-weight:500;
    margin-bottom: 2%;
}
.description{
    width:45%;
    border-right: 2px solid gray;
    float: left;
    padding-left: 2%;
    padding-top: 1%;
    height: 320px;
    overflow: scroll;
    text-align: left;

}
.close{
   margin-right: 3.5%;
    margin-top: 0%;
}

.tradeInfo{
    float: left;
    border-top: 2px solid gray;
    width: 98%;
    height: 200px;
    padding-left: 2%;
    padding-top: 1%;
}
.selectTitle{
    /*display: inline;*/
    width: 200px;
    float: right;
    font-size: 1.2em;

}
.infoTitle{
    /*display: inline;*/
    width: 200px;
    float: right;
    margin-right: 33.3%;
    margin-left: 17%;
    font-size: 1.2em;

}
.myItems{
    width: 200px;
    height:119%;
    border: 1px solid gray;
    background-color: lightgray;
    overflow: scroll;
    float: left;

}

.response{
    float: left;
    width: 75%;
    height: 198px;
    margin-left: 20px;
    border: 1px solid gray;
    margin-top: 1%;
    background-color: lightgray;

}
.userResponse{
    width: 100%;
    height: 100%;
    font-size: 1em;
    overflow: scroll;
    resize: none;
    overflow: scroll;
    /*display: none;*/
}
/*.userResponse.hidden{*/
    /*max-height: 50px;*/
/*}*/
.userResponseBox{
    float: left;
    width: 66%;
    height: 86%;
    background-color: white;
    border: 1px solid gray;
    margin-left: 2%;
    font-size: 1em;
    overflow: scroll;
    resize: none;
    overflow: scroll;
}
.previewEmail{
    padding: 1%;
}
.items{
    float: left;
    width:80px;
    height: auto;
    border: 1px solid gray;
    background-color: white;
    margin-left: 6%;
    margin-top: 3%;
    overflow: hidden;

}
.previewImages{
    width: 100%;
    vertical-align: top;

}

.preview{
    height: 55%;
    margin-left: 2%;
    border: 1px solid gray;
    float: left;
    overflow: hidden;
    background-color: white;
}
.currentItem{
    height: 100%;
}
.email{
    margin-top: 2%;
    margin-right: 10%;
    width: 90px;
    height: 45px;
    font-size: 1.4em;
    float: right;
}
.mix{
    height: 200px;
    border: 4px solid #3c3c3c;
    /*vertical-align: top;*/
    display: inline;
}
.previewImage{
    height: 100%;
    float: right;
}
.hideInput{
    display: none;
}
.name{
    text-align: left;
    margin-top: 2%;
}
.fullSizeImageHolder{
    height: 309px;
    border: 3px solid gray;
    width: 418px;
    overflow: hidden;
    float: right;
    margin-right: 3%;

}
.fullSizeImage{
    height: 309px;
    /*margin-left: 10%;*/
}
.instructions{
float: left;
padding-left: 2%;
    font-size: 1.1em;
}
.loginBox{
    background-color: white;
    width: 60%;
    height:65%;
    float: left;
    margin-left: 19%;
    margin-top: 6%;
    border: 3px solid black;
}
.pSpacing{
    padding-left:2%;
    padding-right:2%;

}

.spacing{
    padding:2%;
    /*padding-bottom:0%;*/

}
.profileBox{
    background-color: white;
    width: 90%;
    height:90%;
    float: left;
    margin-left: 5%;
    margin-top: 2%;
    border: 3px solid gray;
}
.add{
    width: 60%;
    height: 87%;
    /*background-color: red;*/
    border-right: 3px solid gray;
    float: left;
}
.infoRow{
    padding-bottom: 5%;
    float: right;
    width: 100%;
    text-align: right;
}
.titleClass{
    width: 30%;
    font-size: 1.5em;
}
.edit{
width: 37%;
    height: 59%;
    float: right;
    margin-right:1.5%;
    border: 3px solid gray;
    overflow: scroll;
}
.editHolder{
    width: 29%;
    border: 2px solid gray;
    float: left;
overflow: hidden;
    margin:2%;
}
.editImages{
    width: 100%;
    vertical-align: top;
}
.deleteBox{
    border: 3px solid gray;
    float: right;
    width: 37%;
    height: 25%;
    margin-right:1.5%;
    margin-top: 1.5%;
    padding: 1.5%;
}
#delete{
    margin-top: 3%;
    float: right;
}
/*.editBox{*/
    /*width: 80px;*/
    /*height: 80px;*/
    /*border: 1px solid gray;*/
    /*float: right;*/
/*}*/

/*////////////////////////// Bootstrap CSS///////////////*/
/* Everything but the jumbotron gets side spacing for mobile first views */
/*.header,*/
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
/*.header {*/
  /*border-bottom: 1px solid #e5e5e5;*/
}
/* Make the masthead heading the same height as the navigation */
/*.header h3 {*/
  /*margin-top: 0;*/
  /*margin-bottom: 0;*/
  /*line-height: 40px;*/
  /*padding-bottom: 19px;*/
/*}*/

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  /*.header,*/
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  /*.header {*/
    /*margin-bottom: 30px;*/
  /*}*/
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
