
/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/*@font-face {*/
    /*font-family: 'Bebas Neue';*/
    /*src: url('/font/BebasNeue-webfont.eot/');*/
    /*src: url('/font/BebasNeue-webfont.eot?iefix') format('eot'),*/
    /*url('/font/BebasNeue-webfont.woff') format('woff'),*/
    /*url('/font/BebasNeue-webfont.ttf') format('truetype'),*/
    /*url('/font/BebasNeue-webfont.svg#BebasNeue') format('svg');*/

/*}*/

body {
    margin: 0%;
    font-family: "BebasNeue";
    width:100%;
    height: 100%;
}

.topRightMenu a {
    color: white !important;
    float: right;
    padding:.5% 1.5% .5% 1.5%;
    background-color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    text-align: center;
    font-size: .9em;
}
.topRightMenu a:hover{
background-color: black;
}
.fullWidthHeighth{
    width: 100%;
    height: 80%;
    position: absolute;
}
.header {
    /*background-color: black;*/
    width:100%;
    height:110px;
    padding-left: 10px;
}
.logo{
    height: 90px;
    margin-top:.7% ;
    margin-left:2% ;
    opacity: .75;
    float: left;
}
.title{
    height: 70px;
    margin-top:2% ;
    margin-left:2.5% ;
}
.col-sm-12{
    border-bottom: 4px solid white;
    height: 15%;
    overflow: hidden;

}
.openingTitle{
    height: 50px;
    margin-top:3% ;
    margin-right:3% ;
    float: right;
}
.openingLogo{
position: absolute;
height: 80px;
    margin-top: 2%;
    margin-left: 25%;
    opacity: .75;

}
.browseLogo{
    position: absolute;
    height: 90px;
    margin-top: 6%;
    margin-left: 10%;
    opacity: .75;

}
.browseTitle{
    height: 65px;
    margin-top:4% ;
    margin-right:3% ;
    float: right;
}
.profileTitle{
    height: 65px;
    margin-top:2.4% ;
    margin-right:3% ;
    float: right;
}
.profileLogo{
    position: absolute;
    height: 100px;
    margin-top: 2%;
    margin-left: 40%;
    opacity: .75;

}
.left{
    width: 50%;
    float: left;
    height: 100%;
}
.leftBrowse{
    width: 50%;
    float: left;
    height: 55%;
}
.rightBrowse{
    width: 46%;
    float: right;
    height: 55%;
}
.right{
    width: 43%;
    float: right;
}
.label{
    color: rgba(0, 0, 0, 0.3);
    font-size: 1.3em;
    margin-left: 2%;
}
.labelTitle{
    color: rgba(0, 0, 0, 0.3);
    font-size: 1.6em;
    margin-left: 2%;
    margin-bottom: 6%;
    display: inline-block;
    border-bottom: 3px solid lightgray;


}
.labelItems{
    color: rgba(0, 0, 0, 0.3);
    font-size: 1.6em;
    margin-left: 0%;
    margin-bottom: 1%;
    display: inline-block;


}
.labelLong{
    color: rgba(0, 0, 0, 0.3);
    font-size: 1.3em;
    margin-left: 2%;
    margin-top: 2%;
    width: 80%;
    display: inline-block;
}
.labelSub{
    color: rgba(0, 0, 0, 0.3);
    font-size: .9em;
    margin-left: 2%;
}
.labelBrowseTitle{
    color: rgba(0, 0, 0, 0.3);
    font-size: 1.7em;
    width: 80%;
    text-align: left;
    float: left;
    margin-top: 4%;
    margin-left: 4%;

}
.labelBrowse{
    color: rgba(0, 0, 0, 0.3);
    font-size: 1.4em;
    text-align: left;
    float: left;
    margin-top: 10%;
    margin-left: 4%;


}
.inputProfile{
    width: 60%;
    height: 20px;
    font-size: 1em;
    margin: 0% 1% 3% 2%;
    outline: 0;
    border: none;
    border-bottom: 1px solid gray;
}
.inputProfileLong{
    width: 88%;
    height: 20px;
    font-size: 1em;
    margin: 0% 1% 2% 2%;
    outline: 0;
    border: none;
    border-bottom: 1px solid gray;

}
.inputBrowse{
    width: 90%;
    height: 20px;
    font-size: .8em;
    outline: 0;
    border: none;
    border-bottom: 1px solid gray;
    float: left;
    margin-left: 4%;
    margin-top: 2%;

}

.bottomDim{
    height: 84%;
    background-color: rgba(255, 255, 255, 0.5);
    overflow: auto;
    width: 100%;

}
.whiteBox{
    margin-left: 4%;
    width: 90%;
    height: 85%;
    background-color: #ffffff;
    padding: 1%;
    margin-top: 1%;
    padding: 1%;
}
.whiteBoxBrowse{
    margin-left: 4%;
    width: 90%;
    height: 92%;
    background-color: #ffffff;
    padding: 1%;
    margin-top: 1%;
    padding: 1%;
}
.intro{
    width: 70%;
    line-height: 130%;
    margin-left: 15%;
    padding-top: 14%;
    text-align: center;
    font-size: 1.5em;
    color: rgba(0, 0, 0, 0.3)
}
.form{
    width: 70%;
    line-height: 130%;
    margin-left: 10%;
    padding-top: 10%;
    font-size: 1.5em;
    color: rgba(0, 0, 0, 0.3)
}
.formSignIn{
    width: 70%;
    line-height: 130%;
    margin-left: 10%;
    padding-top: 4%;
    font-size: 1.5em;
    color: rgba(0, 0, 0, 0.3)
}
.buttonBox{
    width: 40%;
    margin-left: 27%;
    padding-top: 7%;
    text-align: center;

}
.background{
    background-image:url('https://s3-us-west-2.amazonaws.com/tradeitems/BackgroundItems.jpg');
    background-repeat: no-repeat;
    background-size:101%;
    margin: 0;
cursor: pointer;
height: 105%;
}


.smallButton{
    font-size: .8em;
    padding: .5% 5% .5% 5%;
    margin-left: 43%;
    margin-top: 8%;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    border:0;
    font-family: "BebasNeue";
}
.smallButtonBrowse{
    font-size: 1em;
    padding: .5% 6% .5% 6%;
    margin-top: 2%;
    margin-left: 2%;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    border:0;
    font-family: "BebasNeue";
    display: inline;
}
.smallButtonClose{
    font-size: 1em;
    padding: .5% 4% .5% 4%;
    margin-top: 2%;
    margin-left: 2%;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    border:0;
    font-family: "BebasNeue";
    display: inline;
}
.twoButtons{
    padding-top: 3.5%;
    padding-left: .3%;

    width: 32%;
    float: right;
}
.fileHide{
    margin-left: 2%;
    width: 60%;
    margin-top: 2%;
}

.smallButtonProfile{
    font-size: 1.1em;
    padding: .5% 5% .5% 5%;
    margin-left: 2%;
    margin-top: 2%;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    border:0;
    font-family: "BebasNeue";
}
.submitButton{
    font-size: 1.1em;
    padding: .5% 5% .5% 5%;
    margin-left: 2%;
    margin-top: 1%;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    border:0;
    font-family: "BebasNeue";
    float: right;
}
.smallButtonDelete{ font-size: 1.1em;
    padding: .5% 5% .5% 5%;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    border:0;
    font-family: "BebasNeue";
    float: left;
    /*margin-top: 20px;*/
    float: right;
}

.deleteShow{
    margin-left: 40%;
    height: 18px;
    width: 35%;
    margin-top: .6%;
}

.mediumButton{
    font-size: 1.5em;
    padding: .5% 10% .5% 10%;
    margin-left: 8%;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    text-decoration: none;
}
.coolInput{
    width: 45%;
    height: 28px;
    font-size: .7em;
    margin: 6% 1% 1% 2%;
    outline: 0;
    border: none;
    border-bottom: 1px solid gray;

}
.largeButton{
    font-size: 1em;
    width: 110px;
    height: 30px;
    margin: 6% 0% 1% 15%;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    text-decoration: none;
    float: left;
}
.coolestInput{
     width: 45%;
    height: 28px;
    font-size: .7em;
     margin: 6% 1% 1% 2%;
     outline: 0;
     border: none;
     border-bottom: 1px solid gray;

 }
.largestButton{
    font-size: 1em;
    width: 180px;
    height: 30px;
    margin: 6% 0% 1% 10%;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    text-decoration: none;
    float: left;
}
.coolInputSignup{
    width: 45%;
    height: 28px;
    font-size: .7em;
    margin: 3% 1% 1% 2%;
    outline: 0;
    border: none;
    border-bottom: 1px solid gray;

}
.largeButtonSignUp{
    font-size: 1em;
    width: 110px;
    height: 30px;
    margin: 3% 0% 1% 15%;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    text-decoration: none;
    float: left;
}
.bottomRightCorner{
    margin-top: 3%;
    margin-left: 78%;
    font-size: 1.2em;
    color: rgba(0, 0, 0, 0.3);

}
.bottomRightCornerSignup{
    margin-top: 0%;
    margin-left: 77%;
    font-size: 1.2em;
    color: rgba(0, 0, 0, 0.3);
}
.signup{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.3);
}
.centered{
    padding-left: 30%;
}
.centeredPassword{
    padding-left: 12%;

}
.centeredCurrent{
    padding-left:8% ;
}
.centeredNew{
    padding-left:15% ;
}
.centeredZip{
    padding-left:23% ;

}
.deleteInstructions{
    color: rgba(0, 0, 0, 0.3);
    text-align: right;
    float: right;
    margin-left:20%;
    margin-bottom: 1%;
}
.container{
    background-image:url('https://s3-us-west-2.amazonaws.com/tradeitems/background.jpg');
    background-size: 100%;

}
#Container .mix{
    display: none;
    margin: .7%;

}
.resultsBackground{
    /*background-color: rgba(255, 255, 255, 0.5);*/
    text-align: center;
    width: 94%;
    margin-left: 3%;
}

.menu {
    background-color: rgba(255, 255, 255, 0.75);
    width:100%;

    height: 40px;
}

.menuSpacing{
    margin-left: 7%;
    width: 84%;
}
.filter{
    background-color: rgb(255, 255, 255);
    width: 125px;
    height: 25px;
    float: left;
    padding-top: .7%;
    margin: 3px;
    margin-top: 0px;
    font-size: 1.1em;
    text-align: center;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.3);
}
.filter.active{

    color: rgba(0, 0, 0, 0.6);
    /*background-color: gray;*/
}

.main {
    background-color: rgba(255, 255, 255, 0.75);
    width:100%;
    height:530px;
    overflow: scroll;


}
.dim{
    background-color: rgba(0, 0, 0, 0.4);
    height:101%;
    width: 100%;
    /*display: none;*/
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 0;

}
.dim.hidden{
    max-height: 0;
}
.boxExpand{
    background-image:url('https://s3-us-west-2.amazonaws.com/tradeitems/background.jpg');
    background-size: 100%;
    height:635px;
    width: 950px;
    background-color: white ;
    border: 4px solid gray;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 6%;
    cursor: default;
}
.hidden .boxExpand{
    display: none;
}

h1{
    border-bottom: 2px solid gray;
    font-size: 2em;
    padding-left: 2%;

}
h4{
    font-size: 1.3em;
    font-weight:500;
    margin-bottom: 2%;
}

.close{
   margin-right: 3.5%;
    margin-top: 0%;
    float: right;
}

.tradeInfo{
    float: left;
    width: 100%;
    height: 43%;
    padding: 1%;
}
.selectTitle{
    /*display: inline;*/
    width: 200px;
    float: right;
    font-size: 1.2em;

}
.infoTitle{
    /*display: inline;*/
    width: 200px;
    float: right;
    margin-right: 33.3%;
    margin-left: 17%;
    font-size: 1.2em;

}
.myItems{
    width: 23%;
    height:98%;
    border: 2px solid rgba(0, 0, 0, 0.3);
    background-color: white;
    overflow: scroll;
    float: left;

}

.response{
    float: left;
    width: 100%;
    height: 170px;

}
.userResponse{
    width: 100%;
    height: 100%;
    font-size: 1em;
    overflow: scroll;
    resize: none;
    overflow: scroll;
    /*display: none;*/
}
/*.userResponse.hidden{*/
    /*max-height: 50px;*/
/*}*/
.userResponseBox{
    float: left;
    width: 66%;
    height: 83%;
    background-color: white;
    border: 2px solid rgba(0, 0, 0, 0.3);
    font-size: 1em;
    overflow: scroll;
    resize: none;
    overflow: scroll;
    font-size: .7em;
}
.previewEmail{
    padding: 1%;
}
.items{
    float: left;
    height:60px;
    border: 1px solid gray;
    background-color: white;
    margin-left: 3%;
    margin-top: 3%;
    overflow: hidden;
    cursor: pointer;
}
.previewImages{
    height: 100%;
    vertical-align: top;

}

.preview{
    height: 55%;
    min-width: 70px;
    margin-left: 2%;
    border: 2px solid rgba(0, 0, 0, 0.3);
    float: left;
    overflow: hidden;
    background-color: white;

}
.currentItem{
    height: 100%;
}

.mix{
    height: 200px;
    cursor: pointer;
    display: inline;
}
.previewImage{
    height: 100%;
    float: right;
}
.hideInput{
    display: none;
}
.name{
    text-align: left;
    margin-top: 2%;
    border-bottom: 0;
    color: rgba(0, 0, 0, 0.3);
}
.fullSizeImageHolder{
    height: 99%;
    border: 2px solid rgba(0, 0, 0, 0.3);
    width: 94%;
    overflow: hidden;
    float: right;

}
.fullSizeImage{
    height: 100%;
    /*margin-left: 10%;*/
}
.instructions{
    float: left;
    font-size: 1.1em;
    border: 2px solid rgba(0, 0, 0, 0.3);
    width: 70%;
    height: 94%;
    margin-left: 2%;
    text-align: left;
    padding-left: 3%;
    padding-top: 1%;
    color: rgba(0, 0, 0, 0.3);

}
.loginBox{
    background-image:url('https://s3-us-west-2.amazonaws.com/tradeitems/background.jpg');
    background-size: 100%;
    width: 60%;
    height:75%;
    float: left;
    margin-left: 19.2%;
    margin-top: 6%;
    cursor: default;
}

.spacing{
    padding:2%;
    /*padding-bottom:0%;*/

}
.profileBox{
    background-image:url('https://s3-us-west-2.amazonaws.com/tradeitems/background.jpg');
    background-size: 100%;
    width: 90%;
    height:90%;
    float: left;
    margin-left: 5%;
    margin-top: 2%;
    cursor: default;
}





div label input {
    margin-right:800px;
    background-color: green;
    width: 200px;
    height: 50px;
}
.checklistBox{
    padding-left: 1%;
    margin-top: 1%;
    margin-bottom: 3%;

}
#ck-button {
    font-size: .9em;
    width: 13%;
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 4%;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    border:0;
    overflow:auto;
    float:left;
}

#ck-button label {
    float:left;
    cursor: pointer;
    width: 100%;
}

#ck-button label span {
    text-align:center;
    padding:3px 0px;
    display:block;
}

#ck-button label input {
    position:absolute;
    top:-20px;
}

#ck-button input:checked + span {
    background-color:rgba(0, 0, 0, 0.6);
    color:#fff;
}







.add{
    width: 60%;
    height: 87%;
    /*background-color: red;*/
    border-right: 3px solid gray;
    float: left;
}
.infoRow{
    padding-bottom: 5%;
    float: right;
    width: 100%;
    text-align: right;
}
.titleClass{
    width: 30%;
    font-size: 1.5em;
}
.edit{
    width: 100%;
    height: 245px;
    float: right;
    margin-right:1.5%;
    border: 3px solid rgba(0, 0, 0, 0.3);
    overflow: scroll;
}
.editHolder{
    height: 100px;
    border: 2px solid gray;
    float: left;
overflow: hidden;
    margin:2%;
}
.editImages{
    height: 100%;
    vertical-align: top;
    cursor: pointer;
}
.deleteBox{
    border: 3px solid rgba(0, 0, 0, 0.3);
    float: right;
    width: 97%;
    height: 63px;
    margin-right:1.5%;
    margin-top: 1.5%;
    padding: 1.5%;
}
#delete{
    margin-top: 3%;
    float: right;
}
/*.editBox{*/
    /*width: 80px;*/
    /*height: 80px;*/
    /*border: 1px solid gray;*/
    /*float: right;*/
/*}*/

/*////////////////////////// Bootstrap CSS///////////////*/
/* Everything but the jumbotron gets side spacing for mobile first views */
/*.header,*/
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
/*.header {*/
  /*border-bottom: 1px solid #e5e5e5;*/
}
/* Make the masthead heading the same height as the navigation */
/*.header h3 {*/
  /*margin-top: 0;*/
  /*margin-bottom: 0;*/
  /*line-height: 40px;*/
  /*padding-bottom: 19px;*/
/*}*/

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  /*.header,*/
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  /*.header {*/
    /*margin-bottom: 30px;*/
  /*}*/
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
