<body>
<div ng-include="'partials/navbar'"></div>

<div class="menu">
    <div class="filter" data-filter="all">Show All</div>
    <div class="filter" data-filter=".electronics">Electronics</div>
    <div class="filter" data-filter=".bikes">Bikes</div>
    <div class="filter" data-filter=".furniture">Furniture</div>
    <div class="filter" data-filter=".accessories">Accesories</div>

</div>

<div class="main">
    <div id="Container">
        <div class="mix electronics" id="ipad" data-myorder="2"></div>
        <div class="dim">
            <div class="boxExpand">
                <h1>Ipad
                    <input type="button" value="Finished Looking"class="close">
                </h1>

                <div class='description'>this is kind of a new ipad that is broken i think... I would trade for one million dollars or for just a dip in your pool. that sounds nice</div>
                <div class="ipadExpand"></div>
                <div class="tradeInfo">
                    <div class="selectTitle">Any additional information</div>
                    <div class="infoTitle">Select Item to trade</div>
                    <div class="myItems">
                        <div class="items"></div>
                        <div class="items"></div>
                        <div class="items"></div>

                    </div>
                    <textarea class="response"></textarea>
                </div>

            </div>
        </div>
        <div class="mix furniture" id="dresser" data-myorder="1"></div>
        <div class="mix bikes" id="bike" data-myorder="4"></div>
        <div class="mix bikes" id="cafeRacer" data-myorder="8"></div>
        <div class="mix furniture" id="bed" data-myorder="1"></div>
        <div class="mix electronics" id="laptop" data-myorder="1"></div>
        <div class="mix electronics" id="ipad" data-myorder="2"></div>

        <div class="mix bikes" id="cafeRacer" data-myorder="8"></div>
        <div class="mix accessories" id="backpack" data-myorder="8"></div>
        <div class="mix bikes" id="bike" data-myorder="4"></div>
        <div class="mix accessories" id="backpack" data-myorder="8"></div>
        <div class="mix bikes" id="cafeRacer" data-myorder="8"></div>
        <div class="mix bikes" id="bike" data-myorder="4"></div>
        <div class="mix furniture" id="dresser" data-myorder="1"></div>
        <div class="mix furniture" id="bed" data-myorder="1"></div>
        <div class="mix electronics" id="ipad" data-myorder="2"></div>
        <div class="mix electronics" id="laptop" data-myorder="1"></div>
        <div class="mix accessories" id="backpack" data-myorder="8"></div>
        <div class="mix bikes" id="cafeRacer" data-myorder="8"></div>
        <div class="mix electronics" id="laptop" data-myorder="1"></div>

    </div>





</div>






</div>



</body>