<body>
    <div ng-include="'partials/navbar'"></div>

    <div class="menu">
        <div class="filter" data-filter=".all">Show All</div>
        <div class="filter" data-filter=".electronics">Electronics</div>
        <div class="filter" data-filter=".bikes">Bikes</div>
        <div class="filter" data-filter=".furniture">Furniture</div>
        <div class="filter" data-filter=".clothing">Clothing</div>

    </div>

    <div class="main">
        <!--<img src={{images.image}}>-->
        <div id="Container" sd-mix-it-up="tradingitems">

<!--<button ng-click="openItem = ! openItem"></button>-->

           <div class="resultsBackground">

                <div class="mix" ng-class="item.categories" data-myorder="{{$index}}" ng-repeat="item in tradingitems">
                    <img src="{{item.image}}" class="previewImage"ng-mousedown="save(item)" ng-mouseup="openItem = ! openItem()">
                        <div class="dim"ng-class="{ 'hidden': ! openItem }">
                            <div class="boxExpand">
                                <h1 class="name">{{item.name}}
                                    <input type="button" value="Finished Looking" ng-click="openItem = ! openItem"class="close">
                                </h1>

                                <div class='description'>
                                    <hr>

                                    <h4>Description of item</h4>
                                        {{item.description}}
                                    <hr>

                                    <h4>What i am looking for</h4>
                                    {{item.want}}
                                    <hr>

                                </div>
                                <div class="fullSizeImageHolder">
                                    <img src="{{item.image}}"class="fullSizeImage">
                                </div>
                                <div class="tradeInfo">
                                    <div class="myItems">
                                        <div class="items" ng-repeat="assoc_item in tradingitems | filter: {user: currentUser._id}" >
                                            <img src="{{assoc_item.image}}"class="previewImages"ng-click="selectItem(assoc_item)">
                                        </div>

                                    </div>

                                    <div class="instructions">
                                        Click an item to the left to select an item to swap.
                                    </div>
                      <form id="contact-form" action="api/email" method="POST">

                                    <div class="response">
                                        <div class="previewEmail"></div>
                                        <div class="userResponseBox">

                                            <textarea class="userResponse" type="text" name="message"> {{testEmail}}</textarea>
                                        </div>
                                            <div class="preview">
                                                <img src="{{currentItems.image}}" type ="text" class="currentItem" name="image">
                                            </div>
                                                    <input class="hideInput" type="text" name="image"value="{{currentItems.image}}">
                                                    <input class="hideInput" type="text" name="hostImage"value="{{item.image}}">
                                                    <input class="hideInput" type="text" name="email" value="{{item.email}}">
                                                    <input class="hideInput" type="text" name="subject" value="Proposed {{item.name}} Swap">


                                        <button type="submit" class="email">email</button>
                       </form>
                                    <!--</div>-->
                                    <!--<div>yo</div>-->

                                    <!--<form id="contact-form" action="api/email" method="POST")>-->
                                    <!--<div class="span5">-->
                                     <!--<p> Full name:-->
                                        <!--<input id="name" type="text" name="name"></p>-->
                                    <!--<p> Email address:-->
                                    <!--<input id="email" type="email" name="email"></p>-->
                                    <!--<p> Subject:-->
                                    <!--<input id="subject" type="text" name="subject"></p>-->
                                    <!--<p> Message:-->
                                    <!--<textarea id="message" type="text" name="message" rows="5"></textarea></p>-->
                                    <!--<p> <button type="submit">Send message</button>-->
                                   <!--</div>-->
                                    <!--</form>-->



                                </div>

                            </div>
                        </div>
                </div>
           </div>



        </div>

    </div>



</body>
