<div ng-include="'partials/navbar.html'"></div>
<div class="fullWidthHeighth">

    <div class="background">
        <div class="loginBox">
            <div class="row">
                <div class="col-sm-12">
                    <img src="https://s3-us-west-2.amazonaws.com/tradeitems/Swaptor_Writing_White.png" class="openingTitle">
                    <!--<img src="/images/Swaptor-Logo-Black.png" class="openingLogo">-->
                    <img src="https://s3-us-west-2.amazonaws.com/tradeitems/Swaptor-Logo-Black.png" class="openingLogo">

                </div>
                <div class="bottomDim">
                    <div class="whiteBox">

                        <form class="form" name="form" ng-submit="login(form)" novalidate>
                              <div class="form-group">
                                <label>Email</label>
                                      <input type="text" name="email" class="coolInput" ng-model="user.email">
                              </div>
                              <div class="form-group">
                                    <label>Password</label>
                                        <input type="password" name="password" class="coolInput" ng-model="user.password">
                              </div>

                              <div class="form-group has-error">
                                    <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && submitted">
                                        Please enter your email and password.
                                    </p>
                                    <p class="help-block">{{ errors.other }}</p>
                              </div>

                              <button type="submit" class="largeButton"> Sign in </button>
                        </form>
                        <hr>
                        Not registered? <a href="/signup" class="text-center new-account">Create an account.</a>
                     </div>
                </div>

             </div>
        </div>
    </div>
</div>