<div ng-include="'partials/navbar'"></div>
<div class="fullWidthHeighth">
    <div class="background">
        <div class="loginBox">
            <div class="col-sm-12">
                <br>
                <h1>swaptor!</h1>
                <br>
                <br>
                This is a site that allows you to search through items that other users are willing to swap. Upload your own swapping items and get browsing. (click home above)
                <br>
                <br>
                <br>
                <a href="/browse" class="btn btn-danger btn-large"><font color="black">Come on in!</font></a>
        </div>

    </div>
</div>