<div ng-include="'partials/navbar'"></div>
<body>
    <div class="background">
        <div class="profileBox">
            <div class="col-sm-12">
                <h1>Your Profile </h1>
            </div>

            <div class="add">
                <div class="spacing">
                    <div class="form-group">
                        <label>Title of Item</label>
                        <input type="text" name="title" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <input type="text" name="description" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>What are you willing to swap for it?</label>
                        <input type="text" name="willingToTrade" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>What category does it fall under?</label> (Electronics, Bikes, Furniture, Clothing)
                        <input type="text" name="category" class="form-control">
                    </div>
                    <!--<button type="upload" class="btn btn-md btn-primary"> Upload Picture </button>-->

                    <input type='file' name='files[]' />



                </div>
            </div>


            </div>
            <div class="edit">

            </div>


        </div>

    </div>
</body>
