<div ng-include="'partials/navbar'"></div>
<body>
    <div class="background">
        <div class="profileBox">
            <div class="col-sm-12">
                <h1>Your Profile </h1>
            </div>

            <div class="add">
                <div class="spacing">
                    <form action="/api/tradingItems" method="post" enctype="multipart/form-data">

                            <label>Title of Item</label>
                            <input type="text" name="name" class="form-control">
                            <label>Description</label>
                            <input type="text" name="description" class="form-control">
                            <label>What are you willing to swap for it?</label>
                            <input type="text" name="want" class="form-control">
                            <label>What category does it fall under?</label> (Electronics, Bikes, Furniture, Clothing)
                            <input type="text" name="categories" class="form-control">
                            <input type='file' name='displayImage' />
                            <input type="submit" class="savetradingItems">

                    </form>
                </div>
            </div>
            <div class="edit">
                    <div class="editHolder"ng-repeat="oneItem in onesitems">
                        <img src="{{oneItem.image}}"class="editImages"ng-click="selectDeleteItem(oneItem)">
                     </div>
            </div>
                <div class="deleteBox">
                        <label>Delete from list of potential items to trade?</label>
                        <input class="form-control"value="{{currentItem.name}}">
                            <button id="delete" class="btn btn-sm btn-primary" type="delete">Delete</button>

                </div>
        </div>
    </div>
</body>
